<section  class="fh5co-narrow-content_2">
  <div class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
    <img src="/assets/header.png" class="img-responsive">
<!-- お知らせ -->
    <div class="infomation ">
      <h5 text-left>お知らせ-infomation-</h5>
      <div class = "row">
        <div class="col-md-10 col-md-offset-1 ">
        <div class="box_title"></div>
        <div class="box_srcollbar">
            <p>10/06　■■■■■■が再入荷しました。<p>
            <p>10/05　○○○を追加しました。<p>
            <p>10/04　■■■ を追加しました。<p>
            <p>10/03　○○■■■○が再入荷しました。<p>
            <p>10/02　○■■■■■■○○が再入荷しました。<p>
            <p> 10/01　○○○が再入荷しました。<p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- end -->

<section class="fh5co-narrow-content_2" >
<div class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
      <img src="assets/suri2.png" class="img-responsive" width="200px" height="200px">
      <img src="assets/suri1.png" class="img-responsive">
      


</section>
