<div class="fh5co-narrow-content_1">
  <div class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
    <img src="/assets/header.png" class="img-responsive">
    <div class="infomation">
      <h5>お知らせ-infomation-</h3>
    </div>
</div>
</div>
